<%- include("header.ejs") %>

<main class="flex flex-col items-center justify-center p-6 min-h-screen">
    <h1 class="text-3xl font-bold underline text-gray-900 dark:text-gray-200">
        About Page
    </h1>
    <p class="mt-4 text-gray-600 dark:text-gray-300">
        This is the about page of the website.
    </p>
</main>
<footer class="bg-blue-300 dark:bg-gray-400">
    <div class="flex justify-center border-t border-gray-200 dark:border-gray-700">
        <p class="text-center text-fuchsia-800 dark:text-amber-200 p-4">© 2025 My Website. All rights reserved.</p>
    </div>
</footer>
<%- include("footer.ejs") %>