<%- include("header.ejs") %>

<!-- The main hero section -->
<div class="relative isolate">
    <!-- Insert intro section       -->
    <div class="py-32 sm:py-48 lg:py-64 mx-auto">
        <div class="hidden sm:flex sm:mb-8 sm:justify-center">
            <div class="relative rounded-lg px-4 py-2 ring-1 ring-gray-900/10 hover:ring-gray-900/20 dark:text-gray-400 dark:ring-white/10 dark:hover:ring-white/20 ">
                Welcome to my blog
                <a href="/about" class="font-semibold text-base">
                    Read more
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </div>
        </div>
        <!-- Title section -->
        <div class="text-center">
            <h1 class="text-5xl font-bold text-balance text-gray-900 dark:text-gray-200 sm:text-7xl"> My Blog</h1>
            <p class="text-lg text-pretty text-gray-900 dark:text-gray-200 sm:text-xl/8 mt-5">Your are not a blogger</p>
            <!--       Insert 2 button-like links       -->
            <div class="flex justify-center gap-x-6 mt-5">
                <a href="/about" class="rounded-2xl ring-1 dark:bg-gray-300 p-2">Read more</a>
                <a href="/post" class="rounded-2xl ring-1 dark:bg-gray-400 p-2 ">Posting<span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>